########################
# .NET
########################
bin/
obj/
out/
appsettings.Development.json


########################
# Rider / IntelliJ
########################
.idea/
*.sln.iml

########################
# User specific
########################
*.user
*.suo
*.userosscache
*.sln.docstates

########################
# Logs
########################
*.log

########################
# EF Core
########################
**/Migrations/*.Designer.cs
**/Migrations/*.Snapshot.cs

########################
# Docker
########################
.env
docker-compose.override.yml

########################
# OS
########################
.DS_Store
Thumbs.db
